<%= simple_form_for @pokemon, :url => pokemon_index_path do |f| %>
  <% if @pokemon.errors.any? %>
    <ul><% @pokemon.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
        <% end %>
    </ul>
  <% end %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>